/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Icons */
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-chubby/css/uicons-solid-chubby.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");

/* Tailwindcss */
@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@theme {
  --font-*: initial;
  --font-sans: "Inter", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;

  --leading-tight: 1.1;

  --color-background: hsl(0 0 100%);
  --color-foreground: hsl(0 0 4%);
  --color-surface: hsl(0 0 98%);
  --color-border: hsl(0 0 94%);
  --color-input: hsl(0 0 94%);
  --color-primary: hsl(0 0 0%);
  --color-primary-foreground: hsl(0 0 98%);
  --color-secondary: hsl(0 0 94%);
  --color-secondary-foreground: hsl(0 0 10%);
  --color-accent: hsl(222 100 55%);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-sm tablet:text-base font-normal text-foreground bg-background leading-normal font-sans antialiased selection:bg-blue-500/10 selection:text-blue-950;

    font-variation-settings: normal;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .fi {
    @apply flex justify-center items-center text-sm;
  }
}
