@import "@flaticon/flaticon-uicons/css/all/all.css" layer(base);

@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@theme {
  --font-*: initial;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  --font-heading: var(--font-bricolage-grotesque);

  --breakpoint-*: initial;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;

  --text-sm: 0.84375rem;
  --text-base: 0.9375rem;
  --text-lg: 1.0625rem;

  --color-background: hsl(0 0 100%);
  --color-foreground: hsl(0 0 4%);
  --color-surface: hsl(0 0 99%);
  --color-border: hsl(0 0 94%);
  --color-input: hsl(0 0 94%);
  --color-primary: hsl(0 0 0%);
  --color-primary-foreground: hsl(0 0 98%);
  --color-secondary: hsl(0 0 94%);
  --color-secondary-foreground: hsl(0 0 10%);
  --color-accent: hsl(222 100 55%);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-sm tablet:text-base font-normal text-foreground bg-background leading-normal font-sans subpixel-antialiased selection:bg-blue-500/10 selection:text-blue-950;

    font-variation-settings: normal;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .fi {
    @apply flex justify-center items-center text-sm;
  }
}
